<div class="wrapper">
  <div class="blue-section">
    <div class="title-header">
      <span class="text small">Dan</span>
    </div>
    <div class="splitter-holder">
      <div class="splitter"></div>
    </div>
    <div class="title-header mb">
      <span class="text big">
        Software Engineer
      </span>
    </div>
  </div>
  <div class="text-wrapper mb">
    <div class="terminal">
      <div class="bar">
        <div class="button-wrapper">
          <div class="circle red"></div>
          <div class="circle orange"></div>
          <div class="circle green"></div>

        </div>
      </div>
    </div>
    <div class="terminal">
      <div class="center-text">
        <span class="text-color pt pb">
        My specialist area of interest is web application development and bridging the gap between high complexity systems
        and the average user. Currently working mainly with JavaScript based technologies including
        Typescript within the Angular framework and Node.js to make truly cutting edge, high functioning web applications,
        really enjoying learning new design principles along the way.
        </span>
      </div>
    </div>
  </div>
  <div class="cards pb pt">
    <a href="https://stackoverflow.com/users/10270798/dince12" target="_blank">
      <div class="card">
        <div class="icon-holder">
          <img src="https://cdn.sstatic.net/Sites/stackoverflow/company/Img/logos/so/so-icon.svg?v=f13ebeedfa9e">
        </div>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/daniel-i-401429160/" target="_blank">
      <div class="card">
        <div class="icon-holder">
          <img class="git" src="https://www.freepnglogos.com/uploads/linkedin-blue-style-logo-png-0.png">
        </div>
      </div>
    </a>
    <a href="https://github.com/dince12" target="_blank">
      <div class="card">
        <div class="icon-holder">
          <img class="git" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
        </div>
      </div>
    </a>
  </div>
</div>


