<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div class="wrapper">
  <div class="title-header">
    <span class="text small">Dannn</span>
  </div>
  <div class="splitter-holder">
    <div class="splitter"></div>
  </div>
  <div class="title-header">
    <span class="text big">
      Software Engineer
    </span>
  </div>
</div>
<div class="text-wrapper">
  <div class="center-text">
    <span class="text small">
    My specialist area of interest is web application development and bridging the gap between high complexity systems
    and the average user. Currently working mainly with JavaScript based technologies including
    Typescript within the Angular framework and Node.js to make truly cutting edge, high functioning web applications,
    really enjoying learning new design principles along the way.
    </span>
  </div>
</div>
<div class="cards pb">
  <a href="https://stackoverflow.com/users/10270798/dince12" target="_blank">
    <div class="card">
      <div class="so-box">
        <span class="text pt">Stack Overflow</span>
        <span class="text">123 community answers</span>
        <span class="text pb">104k people reached</span>
      </div>
    </div>
  </a>
  <a href="https://www.linkedin.com/in/daniel-i-401429160/" target="_blank">
    <div class="card mt">
      <div class="so-box">
        <span class="text pt">Find me on LinkedIn</span>
        <span class="text">See recommendations received</span>
        <span class="text pb">and previous work history</span>
      </div>
    </div>
  </a>
  <a href="https://github.com/dince12" target="_blank">
    <div class="card">
      <div class="so-box">
        <span class="text pt">GitHub Profile</span>
        <span class="text">2 Repositories</span>
        <span class="text pb">More incoming soon...</span>
      </div>
    </div>
  </a>
</div>
<div class="ps pb">
  <span class="text">Thanks for dropping in</span>
</div>
