html {
  font-size: 22px;
}

body {
  padding: 1rem;
}

.pt {
  padding-top: 1%;
}

.pb {
  padding-bottom: 1%;
}

a {
  text-decoration: none !important;
}

.text-color {
  padding: 5%;
  color: black;
  font-size: 3vh;
  background: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.blue-section {
  display: flex;
  padding-top: 1%;

  background: #2c93ff;
  flex-direction: column;
}

.text {
  color: white;
  font-size: 3vh;

  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.mb {
  margin-bottom: 1%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .title-header {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .splitter-holder {
    width: 100%;
    display: flex;
    justify-content: center;

    .splitter {
      width: 10%;
      height: 1px;
      border-bottom: 1px solid white;
    }
  }
}

.terminal {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-wrapper {
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;

  .bar {
    width: 50%;
    height: 25px;
    display: flex;
    background: white;

    .button-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5px;
      visibility: hidden;

      .circle {
        width: 13px;
        height: 13px;
        cursor: pointer;

        margin-left: 5px;
        border-radius: 50%;
        margin-right: 5px;

        &.green {
          background: #00be00;
        }
        &.orange {
          background: orange;
        }
        &.red {
          background: red;
        }

        &:hover {
          box-shadow: 0px 0px 10px 5px #bdbdbd;
        }
      }
    }
  }
  .center-text {
    width: 85%;
    display: flex;

    justify-content: center;

    .text {
      color: white;
      font-size: 3vh;

      text-align: center;
      font-family: "Courier New", Courier, monospace;
    }
  }
}

img {
  width: 60px;
  height: 60px;

  &.git {
    border-radius: 50%;
  }
}

.card {
  display: flex;
  justify-content: center;
  height: 60px;
  cursor: pointer;



  .icon-holder {
    display: flex;
    background: white;
    border-radius: 50%;
    width: 60px;
    justify-content: center;

    &:hover {
      box-shadow: 0px 0px 10px 5.5px #e0e0e0;
    }
  }
}

.cards {
  grid-template-columns: repeat(3, 1fr);
  padding-left: 10%;
  padding-right: 10%;
  background: #edf6ff;
  display: grid;
  grid-gap: 0;
  height: 50%;
}

.ps {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10%;
    padding-right: 10%;
    background: #edf6ff;
    display: grid;
    grid-gap: 10%;
  }

  .bar {
    background: grey!important;
  }

  .text-color {
    background: black!important;
    color: white!important;

  }

  .button-wrapper {
    visibility: unset!important;
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10%;
    padding-right: 10%;
    background: #edf6ff;
    display: grid;
    grid-gap: 10%;
    height: unset!important;
  }

  .mt {
    margin-top: 10%;
  }

  .bar {
    background: grey!important;
  }

  .text-color {
    background: black!important;
    color: white!important;
  }

  .button-wrapper {
    visibility: unset!important;
  }

  .text {
    font-size: 3vh !important;
  }

  .center-text {
    width: 50% !important;
  }
}
